* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
}

#accept{
    cursor: pointer;
    background-color: #02b902;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

#accept:hover{
    background-color: #029002;
}

#reject{
    cursor: pointer;
    background-color: #d32c2c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

#reject:hover{
    background-color: #b82626;
}