* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html all css code */

.user-account{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.containers {
    width: 85%;
    margin: auto;
}

header {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #3368C6;
}

.info-bg{
    background-color: #fff;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-info-item .txt {
    color: #ABB0C3;
}

.header-info-item .header-links {
    display: flex;
    gap: 10px;
}

.header-info-item .header-links a {
    position: relative;
    color: #ABB0C3;
    text-decoration: none;
}


.header-info-item .header-links a::after {
    content: "";
    width: 1px;
    height: 15px;
    background-color: #ABB0C3;
    position: absolute;
    transform: rotate(30deg);
    top: 5px;
    right: -5px;
}



header .header-labsky{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .header-labsky .header-labsky-item{
    display: flex;
    justify-content: center;
    color: #fff;
}


header .header-labsky .header-labsky-item .icons{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #fff;
}

.logo-labsky{
    color: #fff;
}

.logo-labsky span{
    color: #031B4E;
}

header button.navbar-toggler{
    display: none;
}

/* navbar css code */
nav{
    background-color: #fff;
    position: absolute;/* headere gore yerini teyin edirik*/
    bottom: -10px;
    width: 85%;
    margin: auto;
    z-index: 3;
}

.navbar-display{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #031B4E;
    font-weight: 600;
    font-size: 18px;
}

.main-link{
    color: #2C59AA;
}

.login-btns a{
    text-decoration: none;
}


#login-btn{
    border: 2px solid #3368C6;
    background: transparent;
    color: #3368C6;
    font-weight: 700;
    padding: 8px 20px;
    transition-duration: .5s;
}

#login-btn:hover{
    background: #3368C6;
    color: #fff;
    transition-duration: .5s;
}

#singup-btn{
    border: 2px solid #3368C6;
    background:#3368C6;
    color: #fff;
    font-weight: 700;
    padding: 8px 20px;
    transition-duration: .5s;
}

#singup-btn:hover{
    background: transparent;
    color: #3368C6;
    transition-duration: .5s;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.headers-txt{
    padding: 20px;
    color: #031B4E;
    font-size: 22px;
}

main {
    width: 100%;
    background-color: #F6FAFF;
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* pages main section no home page */

#page-main-sec{
    background-image: url(../images/testimonial.jpg);
    background-size: cover;
    width: 100%;
    min-height:330px;
}

.page-main-sec-bg{
    width: 100%;
    min-height: 330px;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-carts{
    text-align: center;
    color: #fff;
}
.main-carts h1{
    font-size: 78px;
    font-weight: 600px;
}

.main-carts p{
    font-size: 18px;
}
.main-carts a{
    text-decoration: none;
    color: #fff;
}


/* pages main section stop  */

/* hero section start */

#hero-sec {
    width: 100%;
    position: relative;
    display: inline-block;
    transition-duration: .5s;
}

.carousel img {
    filter: grayscale(40%) contrast(100%) brightness(90%);
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-caption-content-one {
    width: 70%;
    text-align: left;
}

.carousel-caption-content-one h1 {
    font-size: 78px;
}

.carousel-caption-content-two {
    margin: auto 0 auto auto;
    width: 70%;
    text-align: right;
}

.carousel-caption-content-two h1 {
    font-size: 78px;
}

.carousel-caption button {
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    color: #fff;
    background-color: #3368C6;
}

.carousel-caption button:hover {
    background-color: #2C59AA;
}

/* about sec start */

#about-sec {
    width: 100%;
}

.about-images-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-images {
    width: 50%;
    height: 280px;
}

.about-images img {
    width: 100%;
    height: 100%;
}

.about-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50%;
    height: 280px;
    background-color: #3368C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box .about-txt {
    text-align: center;
    color: #fff;
}

.about-box .about-txt h2 {
    font-size: 54px;
    font-weight: 600;
}

.about-content .about-content-box {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.about-content .about-content-box .about-content-item {
    margin: auto;
    width: 40%;
    height: 200px;
    background-color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    color: #fff;
}

.about-feature {
    background-color: #fff;
    padding: 80px;
}

.about-txt i {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 64px;
    color: #031B4E;
    z-index: 8;
}

.about-icon {
    position: relative;
}

.about-txt .circle1 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 20px;
    bottom: 0;
    border-radius: 50%;
    background-color: #fff;
}


.feature-text i {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 64px;
    color: #031B4E;
    z-index: 8;
}

.feature-icon {
    position: relative;
}

.feature-text .feature-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 20px;
    bottom: 0;
    border-radius: 50%;
    background-color: #2C59AA;
}

/* about section stop */

/* test section start */
#test-sec{
    width: 100%;
    height: auto;
    background-image: url(../images/testimonial.jpg);
    background-size: cover;   
}

#test-sec .row{
    padding: 0;
}
.test-sec-content{
    background-color: #fff;
    padding: 20px;
}

.test-sec-content i{
    font-size: 56px;
}

.test-sec-content button{
    padding: 10px 35px;
    border: none;
    background-color: #3368C6;
    color: #fff;
}

.test-sec-content h2{
    color: #031B4E;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 2px;
}

.test-sec-content p{
    color: #8A91AC;
}

.btn-video{
    width: 100%;
    min-height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-video>button{
    width: 80px;
    height: 80px;
    font-size: 34px;
    color: #fff;
    background-color: #3368C6;
    border: none;
    text-align: center;
    border-radius: 50%;
}

.test-statisticy{
    background-color: #3368C6;
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.item-txt{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px 0;
}

.test-item .line-item-one{
    width: 100%;
    height: 5px;
    background: rgb(3,27,78);
    background: linear-gradient(90deg, rgba(3,27,78,1) 90%, rgba(255,255,255,1) 90%);
}

.test-item .line-item-two{
    width: 100%;
    height: 5px;
    background: rgb(3,27,78);
    background: linear-gradient(90deg, rgba(3,27,78,1) 95%, rgba(255,255,255,1) 95%);
}

/* test section stop */

/* services section start */

#service-sec {
    width: 100%;
}

.services-head {
    width: 100%;
}


.services-head-text {
    width: 60%;
    margin: auto;
    text-align: center;
}

.services-head-text h2 {
    font-size: 42px;
    color: #031B4E;
}

.services-head-text p {
    color: #8A91AC;
}

.service-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.services-content-cart {
    width: 23%;
    padding: 40px 20px;
    background-color: #fff;
    transition-duration: 1.3s;
}

.services-content-cart:hover {
    background-color: #3368C6;
    color: #fff;
}

.services-content-cart:hover .services-cart h3 {
    color: #fff;
}

.services-cart h3 {
    color: #031B4E;
    transition-duration: 1.3s;
}

.services-cart>i{
    font-size: 56px;
}

.services-cart button {
    border: none;
    background-color: #F7FBFF;
    color: black;
    font-weight: 600;
    padding: 5px 15px;
}

/* services section stop */


/* team section start */

#team-sec {
    width: 100%;
}

.team-img {
    width: 100%;
}

.team-img img {
    width: 100%;
}

.team-member-bio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member-bio h2 {
    color: #031B4E;
}

.team-member-bio p {
    color: #ABB0C3;
}

.member-social-media {
    display: flex;
    gap: 20px;
}

.member-social-media .icons {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3368C6;
    color: #fff;
    border-radius: 50%;
    transition-duration: .5s;
}

.member-social-media .icons:hover {
    background-color: #29529e;
}

.team-member-cart {
    width: 100%;
    height: auto;
    
}

.team-member-cart .cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.team-member-cart .cart .cart-images{
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.team-member-cart .cart img {
    width: 100%;
}

.team-member-cart .cart .text {
    width: 100%;
    height: 20%;
    text-align: center;
}

.team-member-cart .social-media {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3368C6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 10%;
    visibility: hidden;
    transition-duration: .4s;
}

.social-media .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: calc(10%);
}


.team-member-cart:hover .social-media {
    visibility: visible;
    width: 100%;
    left: 0;
}

.team-member-cart:hover .social-media .icons{
    opacity: calc(100%);
}

/* team section stop */

/* comment section start */

#comment-sec{
    width: 100%;
    min-height: 400px;
    background-image: url(../images/testimonial.jpg);
    background-size: cover;
}

.section-text h3{
    color: #fff;
    font-size:43px;
}

.section-text p{
    color: #fff;
    font-size: 18px;
}

.section-text button{
    color: #fff;
    background-color: #3368C6;
    font-weight: 600;
    border: none;
    padding: 15px 35px;
}

.section-comment{
    background-color: #fff;
}


.carousel-client{
    display: flex;
    gap: 10px;
}

.carousel-client p{
    color: #29529e;
}

.carousel-client img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.carousel-item i{
    font-size: 54px;
}

.d-block>p{
    font-size: 19px;
    color: #ABB0C3;
}


/* comment section stop*/


/* FOOTER START */

footer{
    width: 100%;
    background-image: url(../images/footer.png);
    background-size: cover;
}

.footer-bg{
    padding: 50px 0;
}

.footer-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-logo{
    margin-bottom: 30px;
}

.footer-bg{
    background-color: rgba(3, 27, 77, 0.9);
    color: #fff;
}

footer h2{
    color: #3368C6;
    font-weight: 600;
    font-size: 38px;
}

footer h2>span{
    color: #fff;
}

footer p , footer span , footer i{
    color: #8A91AC;
}

footer ul>li{
    list-style: none;
}

footer ul>li>a{
    color: #ABB0C3;
}

footer ul>li>a:hover{
    color: #fff;
    text-decoration: none;
}

.footer-form{
    width: 100%;
    height: auto;
}

.footer-form input{
    position: relative;
    padding: 10px 20px;
    background-color: #8A91AC;
    width: 60%;
    border: none;
    outline: none;
}

.footer-form input::placeholder{
    color: #fff;
}

.footer-form button{
    position: absolute;
    left: 58%;
    padding: 10px 20px;
    background-color: #3368C6;
    color: #fff;
    border: none;
}

.footer-form button:hover{
    background-color: #29529e;
}

/* FOOTER STOP */

/* FULL RESPONSİV MEDİA SCREN */

@media only screen and (max-width:1111px){
    .carousel-caption h1{
        font-size: 65px;
    }
    .services-content-cart{
       width: 29%;
    }
}
@media only screen and (max-width:991px){
    header{
        background-color: #fff;
        height: 80px;
    }
    header button.navbar-toggler{
        display: block;
    }
    .info-bg{
        display: none;
    }
    header .header-labsky .header-labsky-item{
        display: none;
    }
    .logo-labsky{
        color: #4B7ACD;
    }
    .services-content-cart{
       width: 45%;
    }
    nav{
        bottom: 10px;
    }
    .navbar-display{
        align-items: start;
        flex-direction: column;
    }

    .carousel-caption h1{
        font-size: 52px;
    }

    .about-images .about-box {
        height: 270px;
    }
    .services-head-text{
        width: 70%;
    }
    .services-head-text h2{
        font-size: 35px;
    }
    .services-head-text p{
        font-size: 14px;
    }
    .services-cart h3{
        font-size: 32px;
    }
    .services-cart button{
        font-size: 14px;
        padding: 3px 10px;
    }.main-carts h1{
        font-size: 68px;
    }
}
@media only screen and (max-width:791px){
    .carousel-caption h1{
        font-size: 40px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
    .carousel-caption button{
        font-size: 12px;
        padding: 8px 20px;
    }
    .services-content-cart{
       width: 95%;
    }
    .about-images, .about-box{
        height: 250px;
    }

    .about-box{
        bottom: 10px;
        right: 10px;
    }

    .about-box .about-txt h2{
        font-size: 38px;
    }
    .about-box .about-txt p{
        font-size: 12px;
    }
    .about-txt .circle1 {
        width: 25px;
        height: 25px;
    }
    .about-txt i{
        font-size: 52px;
    }
    .services-head-text{
        width: 80%;
    }
    .services-head-text h2{
        font-size: 28px;
    }
    .services-head-text p{
        font-size: 12px;
    }
    .services-cart h3{
        font-size: 21px;
    }
    .services-cart>i{
        font-size: 45px;
    }
}

@media only screen and (max-width:700px) {
    .about-images, .about-box{
        height: 200px;
    }
    .main-carts h1{
        font-size: 58px;
    }
    .main-carts p{
        font-size: 16px;
    }
}

@media only screen and (max-width:600px){
    .carousel-caption h1{
        font-size: 35px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
    .services-content-cart{
       width: 95%;
    }
    .about-images-box{
        flex-direction: column;
    }
    .about-images{
        width: 100%;
        height: auto;
    }
    .about-box{
        width: 100%;
        height: 300px;
        position: relative;
        right: 0;
        bottom: 0;
    }
    .about-content .about-content-box{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
    .about-content .about-content-box .about-content-item{
        margin: 0;
    }
    .services-head-text h2{
        font-size:22px;
    }

    .services-cart h3{
        font-size: 18px;
    }
    .services-cart p{
        font-size: 10px;
    }

    .services-cart>i{
        font-size: 40px;
    }
    .team-member-bio h2{
        font-size: 25px;
    }
    .team-member-bio p{
        font-size: 14px;
    }
    .member-social-media{
        gap: 10px;
    }
    .member-social-media .icons{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .section-text h3{
        font-size: 35px;
    }
    .section-text p{
        font-size: 14px;
    }

    .section-text button{
        padding: 8px 20px;
        font-weight: 500;
    }

    .d-block>p{
        font-size: 14px;
    }
    .carousel-item i{
        font-size: 45px;
    }
}

@media only screen and (max-width:560px){
    #hero-sec{
        max-height: 450px;
    }
    .carousel-caption h1{
        font-size: 30px;
    }
    .carousel-caption button {
        padding: 6px 15px;
        font-size: 10px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .services-content-cart{
       width: 95%;
    }
    .about-content .about-content-box .about-content-item{
        width: 200px;
    }

    /* test section */

    .test-sec-content button{
        padding: 8px 20px;
    }

    .test-sec-content h2{
        font-size: 23px;
        letter-spacing: 0;
        line-height: 1;
    }

    .test-sec-content i{
        font-size: 43px;
    }

    .test-sec-content h4{
        font-size: 18px;
    }
    
.test-sec-content p{
    font-size: 12px;
}

iframe{
    width: 100%;
    height: auto;
}
}

@media only screen and (max-width:480px){
    .services-content-cart{
       width: 95%;
    }
    .main-carts h1{
        font-size: 38px;
    }
    .main-carts p{
        font-size: 12px;
    }
}

@media only screen and (max-width:440px){

    .carousel-caption h1{
        font-size: 25px;
    }
    .carousel-caption button {
        padding: 6px 12px;
        font-size: 8px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .services-content-cart{
       width: 95%;
    }
    .services-content-cart{
       width: 95%;
    }
}

@media only screen and (max-width:370px){
    .carousel-caption h1{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 8px;
    }
    .team-member-bio h2{
        font-size: 20px;
    }
    .team-member-bio p{
        font-size: 10px;
    }
}