* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.html all css code */

.containers {
    width: 85%;
    margin: auto;
}

header {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #3368C6;
}

.info-bg{
    background-color: #fff;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-info-item .txt {
    color: #ABB0C3;
}

.header-info-item .header-links {
    display: flex;
    gap: 10px;
}

.header-info-item .header-links a {
    position: relative;
    color: #ABB0C3;
    text-decoration: none;
}


.header-info-item .header-links a::after {
    content: "";
    width: 1px;
    height: 15px;
    background-color: #ABB0C3;
    position: absolute;
    transform: rotate(30deg);
    top: 5px;
    right: -5px;
}



header .header-labsky{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .header-labsky .header-labsky-item{
    display: flex;
    justify-content: center;
    color: #fff;
}


header .header-labsky .header-labsky-item .icons{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #fff;
}

.logo-labsky{
    color: #fff;
}

.logo-labsky span{
    color: #031B4E;
}

/* navbar css code */
nav{
    position: absolute;/* headere gore yerini teyin edirik*/
    bottom: -10px;
    width: 85%;
    margin: auto;
    z-index: 3;
}


.nav-link{
    color: #031B4E;
    font-weight: 600;
    font-size: 18px;
}

.main-link{
    color: #2C59AA;
}

.navbar-social-media{
    display: flex;
    justify-content: center;align-items: center;
    gap: 10px;
}

.navbar-social-media .icons{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #3368C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-social-media .icons:hover{
    background-color: #2C59AA;
}

.navbar-social-media .icons a{
    color: #fff;
}

main {
    background-color: #F6FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}


/* hero section start */

#hero-sec {
    width: 100%;
    position: relative;
    display: inline-block;
    transition-duration: .5s;
}

#hero-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.carousel img {
    filter: grayscale(40%) contrast(100%) brightness(90%);
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-caption-content-one {
    width: 70%;
    text-align: left;
}

.carousel-caption-content-one h1 {
    font-size: 78px;
}

.carousel-caption-content-two {
    margin: auto 0 auto auto;
    width: 70%;
    text-align: right;
}

.carousel-caption-content-two h1 {
    font-size: 78px;
}

.carousel-caption button {
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    color: #fff;
    background-color: #3368C6;
}

.carousel-caption button:hover {
    background-color: #2C59AA;
}

/* about sec start */

#about-sec {
    width: 100%;
}

.about-images-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-images {
    width: 50%;
    height: 280px;
}

.about-images-box .about-images img {
    width: 100%;
    height: 100%;
}

.about-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50%;
    height: 280px;
    background-color: #3368C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box .about-txt {
    text-align: center;
    color: #fff;
}

.about-box .about-txt h2 {
    font-size: 54px;
    font-weight: 600;
}

.about-content .about-content-box {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.about-content .about-content-box .about-content-item {
    margin: auto;
    width: 40%;
    height: 200px;
    background-color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    color: #fff;
}

.about-feature {
    background-color: #fff;
    padding: 80px;
}

.about-txt i {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 64px;
    color: #031B4E;
    z-index: 8;
}

.about-icon {
    position: relative;
}

.about-txt .circle1 {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 20px;
    bottom: 0;
    border-radius: 50%;
    background-color: #fff;
}


.feature-text i {
    position: absolute;
    left: 20px;
    bottom: 0;
    font-size: 64px;
    color: #031B4E;
    z-index: 8;
}

.feature-icon {
    position: relative;
}

.feature-text .feature-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 20px;
    bottom: 0;
    border-radius: 50%;
    background-color: #2C59AA;
}


#service-sec {
    width: 100%;
}

.services-head {
    width: 100%;
}


.services-head-text {
    width: 60%;
    margin: auto;
    text-align: center;
}

.services-head-text h2 {
    font-size: 42px;
    color: #031B4E;
}

.services-head-text p {
    color: #8A91AC;
}

.service-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.services-content-cart {
    width: 23%;
    padding: 40px 20px;
    background-color: #fff;
    transition-duration: 1.3s;
}@media only screen and (max-width:1111px){
    .services-content-cart{
       width: 29%;
    }
}
@media only screen and (max-width:991px){
    .services-content-cart{
       width: 45%;
    }
}
@media only screen and (max-width:600px){
    .services-content-cart{
       width: 95%;
    }
}






.services-content-cart:hover {
    background-color: #3368C6;
    color: #fff;
}

.services-content-cart:hover .services-cart h3 {
    color: #fff;
}

.services-cart h3 {
    color: #031B4E;
    transition-duration: 1.3s;
}

.services-cart button {
    border: none;
    background-color: #F7FBFF;
    color: black;
    font-weight: 600;
    padding: 5px 15px;
}

/* team section start */

#team-sec {
    width: 100%;
}

.team-img {
    width: 100%;
}

.team-img img {
    width: 100%;
}

.team-member-bio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member-bio h2 {
    color: #031B4E;
}

.team-member-bio p {
    color: #ABB0C3;
}

.member-social-media {
    display: flex;
    gap: 20px;
}

.member-social-media .icons {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3368C6;
    color: #fff;
    border-radius: 50%;
    transition-duration: .5s;
}

.member-social-media .icons:hover {
    background-color: #29529e;
}

.team-member-cart {
    width: 100%;
    height: auto;
    position: relative;
}

.team-member-cart .cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.team-member-cart .cart img {
    width: 100%;
}

.team-member-cart .cart .text {
    width: 100%;
    height: 20%;
    text-align: center;
}

.team-member-cart .social-media {
    position: absolute;
    top: 0;
    background-color: #3368C6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 82%;
    width: 100%;
    visibility: hidden;
}

.social-media .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.team-member-cart:hover .social-media {
    visibility: visible;
}

/* team section stop */


#comment-sec{
    width: 100%;
    min-height: 400px;
    background-image: url(../images/testimonial.jpg);
    background-size: cover;
}

.section-comment{
    background-color: #fff;
}